.Employees .table button {
  display: block;
  width: 60%;
  padding-top: 2px;
  margin: 0 auto;
  height: 100%;
  border: 1px solid black;
  font-size: 18px;
  text-decoration: none;
  font-weight: 370;
  font-family: "Roboto", sans-serif;
  border-radius: 2em;
  background-color: white;
  color: rebeccapurple;
}

.css-kbn7if .Employees .table button {
  background-color: lightgrey;
}

.Employees .table button:hover {
  background-color: lightgrey;
  transition: 0.4s;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.css-kbn7if .Employees .table button:hover {
  background-color: darkgray;
}

.rt-tr:hover {
  background-color: antiquewhite;
}

.css-kbn7if .rt-tr:hover {
  background-color: #111111;
}

.Employees .ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
  border: 0.6px solid black;
  background-color: antiquewhite;
  padding: 0.5em;
  color: coral;
}

.css-kbn7if .Employees .ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
  background-color: gray;
}

.Employees .ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
  width: 100%;
}

button {
  background-color: aliceblue;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.7s 0.7s ease;
  opacity: 0;
}
