.Employees .table button {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  font-size: 18px;
}

.Employees .table button:hover {
  background-color: salmon;
  transition: 0.4s;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.rt-tr:hover {
  background-color: antiquewhite;
}

.Employees .ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
  background-color: transparent;
  border: none;
  background-color: antiquewhite;
  padding: 0.5em;
  color: coral;
}

button {
  background-color: aliceblue;
}
